<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.myorg.listeners.ListenerClass" />
	</listeners>
	<test thread-count="2" name="Test">
		<classes>
			<class name="com.myorg.tests.GoogleTests"/> 
			<class name="com.myorg.tests.BingTests" />
			<class name="com.myorg.tests.YahooTests"/> 
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
